{
  "$schema": "https://www.krakend.io/schema/krakend.json",
  "version": 3,
  "name": "Core Gateway",
  "timeout": "500s",
  "port": 8080,
  "cache_ttl": "50s",
  "listen_ip": "0.0.0.0",
  "extra_config": {{ marshal .service.extra_config }},
  "endpoints": [
    {{ range $idx, $endpoint := .backend.features }}
      {{if $idx}},{{end}}
      {{ template "backend.tmpl" $endpoint }}
    {{ end }}
    
    {{ range $idx, $endpoint := .backend.users }}
      ,{{ template "backend.tmpl" $endpoint }}
    {{ end }}
    
    {{ range $idx, $endpoint := .backend.roles }}
      ,{{ template "backend.tmpl" $endpoint }}
    {{ end }}
    
    {{ range $idx, $endpoint := .backend.projects }}
      ,{{ template "backend.tmpl" $endpoint }}
    {{ end }}
    
    {{ range $idx, $endpoint := .backend.organizations }}
      ,{{ template "backend.tmpl" $endpoint }}
    {{ end }}

    {{ range $idx, $endpoint := .backend.attributes }}
      ,{{ template "backend.tmpl" $endpoint }}
    {{ end }}

    {{ range $idx, $endpoint := .backend.policies }}
      ,{{ template "backend.tmpl" $endpoint }}
    {{ end }}
    
    {{ range $idx, $endpoint := .backend.departments }}
      ,{{ template "backend.tmpl" $endpoint }}
    {{ end }}
    
    {{ range $idx, $endpoint := .backend.clearances }}
      ,{{ template "backend.tmpl" $endpoint }}
    {{ end }}
    
    {{ range $idx, $endpoint := .backend.subscriptions }}
      ,{{ template "backend.tmpl" $endpoint }}
    {{ end }}
    
    {{ range $idx, $endpoint := .backend.environments }}
      ,{{ template "backend.tmpl" $endpoint }}
    {{ end }}

    {{ range $idx, $endpoint := .backend.health }}
      ,{{ template "backend.tmpl" $endpoint }}
    {{ end }}
    
    {{ range $idx, $endpoint := .backend.staffs }}
      ,{{ template "backend.tmpl" $endpoint }}
    {{ end }}
    
    {{ range $idx, $endpoint := .backend.dashboard }}
      ,{{ template "backend.tmpl" $endpoint }}
    {{ end }}
  ]
}
