{
	"endpoint": "{{ .endpoint }}",
	"method": "{{ .method }}",
	"output_encoding": "no-op",
	"backend": [
	  {
			"url_pattern": "{{ .backend }}",
			"encoding": "no-op",
			"sd": "static",
			"host": ["{{ env `BACKEND_URL` }}"],
			"method": "{{ .method }}",
			"disable_host_sanitize": false,
			"output_headers": ["*"]
	  }
	],
	"extra_config": {{ include "all_backends_extra_config.json" }},
	"input_query_strings": ["*"],
	"input_headers": ["*"]
}